h3{
  font-family: $whitneyMedium;
  font-size: em-calc(20);
  color: $white;
  text-transform: capitalize;
  margin-top: 0;
}

h4{
  font-family: $gothamLight;
  font-size: em-calc(20);
  color: $white;
}

p{
  font-family: $gothamLight;
  font-size: em-calc(14);
  color: $white;
  margin: 0;
}
